- add_to_breadcrumbs _("Packages"), project_packages_path(@project)
- add_to_breadcrumbs @package.name, project_packages_path(@project)
- breadcrumb_title @package.version
- page_title _("Packages")

.detail-page-header.d-flex.justify-content-between
  %strong
    = @package.version

  - if can?(current_user, :destroy_package, @project)
    = link_to project_package_path(@project, @package), method: :delete, data: { confirm: _("Are you sure?") }, class: "btn btn-grouped btn-inverted btn-remove", title: _('Delete Package') do
      = _('Delete')
.row.prepend-top-default
  .col-sm-6
    .card
      .card-header
        %strong= _('Package information')
      %ul.content-list
        %li
          %span.text-secondary
            = _('Name')
          %span.pull-right
            = @package.name
        %li
          %span.text-secondary
            = _('Version')
          %span.pull-right
            = @package.version
        %li
          %span.text-secondary
            = _('Created on')
          %span.pull-right
            = @package.created_at.to_s(:medium)
  .col-sm-6
    - if @maven_metadatum
      .card
        .card-header
          %strong= _('Maven Metadata')
        %ul.content-list
          %li
            %span.text-secondary
              = _('Group ID')
            %span.pull-right
              = @maven_metadatum.app_group
          %li
            %span.text-secondary
              = _('Artifact ID')
            %span.pull-right
              = @maven_metadatum.app_name
          %li
            %span.text-secondary
              = _('Version')
            %span.pull-right
              = @maven_metadatum.app_version
%table.table
  %thead
    %tr
      %th
        = _('Name')
      %th
        = _('Size')
      %th
        .pull-right
          = _('Created')
  %tbody
    - @package_files.each do |package_file|
      %tr
        %td
          = icon('file-o fw')
          = package_file.file.identifier
        %td
          = number_to_human_size(package_file.size, precision: 2)
        %td
          .pull-right
            = time_ago_with_tooltip(package_file.created_at)
