.geo-admin-container {
  .page-title,
  .page-title-separator {
    margin-top: 10px;
  }

  .title-text {
    line-height: 34px;
  }

  .page-subtitle {
    margin-bottom: 24px;
  }
}

.node-badge {
  color: $white-light;
  padding: 1px $gl-padding-8;
  font-size: $label-font-size;
  border-radius: $label-border-radius;

  &.primary-node {
    background-color: $blue-600;
  }

  &.current-node {
    background-color: $green-400;
  }
}

.geo-node-healthy {
  color: $green-500;
}

.geo-node-unhealthy {
  color: $red-500;
}

.geo-node-offline {
  color: $theme-gray-950;
}

.geo-node-disabled {
  color: $gray-darkest;
}

.geo-node-unknown {
  color: $gray-darkest;
}

.geo-node-item {
  .node-status-icon {
    height: 35px;
  }

  .status-icon-warning {
    fill: $orange-500;
  }

  .status-icon-failure {
    fill: $red-500;
  }

  .card-body {
    padding: 0;

    .node-detail-section {
      padding: $gl-padding 0;

      &.sync-section,
      &.verification-section,
      &.other-section {
        border-top: 1px solid $border-color;
      }

      .btn-show-section {
        padding: 0;
      }
    }
  }

  .node-health-message-container {
    max-height: $dropdown-max-height;
    overflow-y: auto;

    .node-health-message {
      margin-bottom: 0;
      padding: 2px $gl-padding-8;
      background-color: $red-100;
      color: $red-500;
    }
  }
}

.node-detail-section {
  .detail-section-item,
  .section-items-container {
    .node-detail-title {
      color: $theme-gray-700;

      .node-detail-help-text {
        color: $blue-600;
      }

      .tooltip .tooltip-inner {
        text-align: left;
      }
    }

    .node-detail-value {
      margin-top: 4px;
    }

    .detail-value-stale-icon {
      color: $orange-500;
    }

    .node-detail-value-bold {
      font-weight: $gl-font-weight-bold;
    }

    .node-detail-value-error {
      color: $red-500;
    }
  }

  .section-items-container {
    display: inline-block;

    .node-detail-item {
      &:first-child {
        margin-top: 0;
      }
    }

    @include media-breakpoint-down(sm) {
      width: 95%;
    }
  }
}

.node-detail-title,
.node-health-status,
.node-sync-settings,
.node-detail-section .btn-show-section {
  display: flex;
  align-items: center;
}

.geo-node-actions {
  display: inline-flex;
  justify-content: center;
  float: right;

  .node-action-container {
    margin: 0 5px;

    &:last-child {
      margin-right: $gl-padding;
    }
  }

  @include media-breakpoint-down(sm) {
    display: block;
    width: 100%;

    .node-action-container {
      width: 100%;
      margin: 0;
      margin-top: 10px;
      padding: 0 10px;
    }

    .btn-node-action {
      width: 100%;
    }
  }
}

.geo-admin-projects,
.admin-projects {
  .card-header {
    .header-text-primary,
    .header-text-secondary {
      color: $blue-600;
    }

    .header-text-primary {
      line-height: 28px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .btn-card-header {
    &:hover,
    &:focus {
      text-decoration: none;
    }

    &.collapsed {
      .card-collapse-icon {
        display: none;
      }
    }

    &:not(.collapsed) {
      .card-expand-icon {
        display: none;
      }
    }
  }

  .card-body {
    .project-container {
      margin-left: 0;
      padding-left: 0;
    }

    .project-status-content {
      &.status-type-success {
        color: $green-600;
      }

      &.status-type-failure {
        color: $red-500;
      }
    }

    @include media-breakpoint-down(xs) {
      .project-status-container + .project-status-container {
        margin-top: 15px;
      }
    }
  }

  .errors-list {
    li + li {
      margin-top: 5px;
    }

    .error-icon,
    .error-text {
      color: $red-500;
    }

    .error-text {
      line-height: 18px;
    }
  }
}
