- if Gitlab::Auth::LDAP::Config.group_sync_enabled? && can?(current_user, :admin_ldap_group_links, @group)
  = nav_link(path: 'ldap_group_links#index') do
    = link_to group_ldap_group_links_path(@group), title: 'LDAP Group', class: 'qa-ldap-synchronization-link' do
      %span
        LDAP Synchronization

- if show_saml_in_sidebar?(@group)
  = nav_link(path: 'saml_providers#show') do
    = link_to group_saml_providers_path(@group), title: 'SAML SSO', class: 'qa-group-saml-sso-link' do
      %span
        SAML SSO

- if @group.feature_available?(:group_webhooks) || show_promotions?
  = nav_link(path: 'hooks#index') do
    = link_to group_hooks_path(@group), title: 'Webhooks' do
      %span
        Webhooks

- if @group.feature_available?(:audit_events)
  = nav_link(path: 'audit_events#index') do
    = link_to group_audit_events_path(@group), title: 'Audit Events' do
      %span
        Audit Events

- if @group.shared_runners_enabled? && @group.shared_runners_minutes_limit_enabled?
  = nav_link(path: 'pipeline_quota#index') do
    = link_to group_pipeline_quota_path(@group), title: 'Pipelines quota' do
      %span
        Pipelines quota

- if Gitlab::CurrentSettings.should_check_namespace_plan?
  = nav_link(path: 'billings#index') do
    = link_to group_billings_path(@group), title: 'Billing' do
      %span
        Billing
